# ROS 2 Folders
install/
log/
build/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# User-specific build files
CMakeLists.txt.user
*.user

# System and editor files
.DS_Store
.vscode/
.idea/
*~
.#*

# Compiled libraries/binaries (if you build any C++ nodes)
*.so
*.a
*.lib
*.dll

# Large models
models/

smartbin_env/