<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <!-- 1. Enable Sensors (Lidar, Camera) -->
    <plugin filename="libgz-sim-sensors-system.so"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <!-- 2. Enable the IMU -->
    <plugin name="gz::sim::systems::Imu" filename="libgz-sim-imu-system.so" />

    <!-- 3. Enable ros2_control (The Motor Controller) -->
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find smartbin_robot)/config/controller_config.yaml</parameters>
    </plugin>
  </gazebo>
</robot>