<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gz::sim::systems::Imu" filename="libgz-sim-imu-system.so" />

    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find smartbin_robot)/config/controller_config.yaml</parameters>
    </plugin>
  </gazebo>
</robot>